.navbar {
margin-bottom: 0;
border-radius: 0;
background-color: #000000;
width: 100%;
float: left;
}

.row.content {
  height: 450px
}


@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}

.row.content {
  height:auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;

}




img {
  float: left;
}


h1{
  color: #000000;
  float: middle;
}

h3{
  color: #000000;
}

h4{
  color: #000000;
  font-family: Arial
}

p{
  color: #000000;
}





footer {
background-color: #555;
color: white;
padding: 20px;
width: 20px;
}
